body{
    background-color:rgb(255, 232, 127);
    margin: 0;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header--logo img{
    height: 50px;
    margin: 2px;
}

.nav--menu{
    color: #ffffff;
    text-decoration: none;
    font-size: 14pt;
    padding: 7px 14px;
    /* margin: 0 10px; */
}
.nav--menu:hover{
    color: #000000;
    background-color: #ffffff;
    padding: 7px 14px;
    /* font-weight: bold; що робити, щоб кнопки не "стрибали" */
    border-radius: 25px 0 25px 0; }

.filters{
    margin: 20px;
    padding: 10px 0;
    background-color:#d3d3d3;
    width: 200px; 
    text-align: center;
    /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column; */
}
.filters p{
    margin: 0;
    /* display: flex;
    align-content: center;
    justify-content: center; */
}

.filters b{
    font-size: 14px;
}
.search{
    margin-top: 40px;
    margin-bottom: 40px;
}

.form--other{
    margin-top: 10px;
}

.filters input, .filters select{
    width: 180px;
}

.filter--button{
    margin: 3px;
    width: 90px;
    height: 30px;
    border-radius: 20px;

}

.filter--button:hover{
    border-radius: 20px;
    background-color: rgb(115, 255, 115);
}