body{
    background-color:rgb(255, 232, 127);
    margin: 0;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header--logo img{
    height: 50px;
    margin: 2px;
}

.nav--menu{
    color: #ffffff;
    text-decoration: none;
    font-size: 14pt;
    padding: 7px 14px;
    /* margin: 0 10px; */
}
.nav--menu:hover{
    color: #000000;
    background-color: #ffffff;
    padding: 7px 14px;
    /* font-weight: bold; що робити, щоб кнопки не "стрибали" */
    border-radius: 25px 0 25px 0; }

.filters{
    background-color:#d3d3d3;
    width: 250px;
}
.filters p{
    margin: 0;
}