body{
    /* background-color:rgb(255, 232, 127); */
    margin: 0;
}
h1, h2, p{
    margin: 0;
}
.header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header--logo img{
    height: 50px;
    margin: 2px;
}

.nav--menu{
    color: #ffffff;
    text-decoration: none;
    font-size: 14pt;
    padding: 7px 14px;
    /* margin: 0 10px; */
}
.nav--menu:hover{
    color: #000000;
    background-color: #ffffff;
    padding: 7px 14px;
    /* font-weight: bold; що робити, щоб кнопки не "стрибали" */
    border-radius: 25px 0 25px 0; }
.very--main{
    display: flex;
}
.filters{
    margin: 20px 20px 0 20px;
    padding: 10px 0;
    background-color:#d3d3d3;
    width: 350px; 
    text-align: center;
    /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column; */
}
.filters p{
    margin: 0;
    /* display: flex;
    align-content: center;
    justify-content: center; */
}

.filters b{
    font-size: 14px;
}
.search{
    margin-top: 40px;
    margin-bottom: 25px;
}

.form--other{
    margin-top: 10px;
}

.filters input, .filters select{
    width: 160px;
}

.filter--button{
    margin: 3px;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid;
}

.filter--button:hover{
    border-radius: 10px;
    background-color: rgb(115, 255, 115);
}

.content--block {
    width: 200px;
    height: 250px;
    border: 0.5px solid;
    margin: 20px 10px 0 10px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    /* width: 1100px; */
    align-items: center;
}
.img--product img{
    width: 200px;
}
.content--block h1{
    font-size: 19px;
    margin-bottom: 10px;
    text-align: center;
}

.content--block h2{
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    
}
.content--price{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content--block__2{
    padding: 10px;
}

.content--price button{
    width: 70px;
    height: 25px;
    background-color: rgb(63, 245, 63);
    border: 0.3px solid;
    border-radius: 10px;
}

.content--price button:hover{
    background-color: rgb(211, 55, 62);
    border: 1px solid;
    border-radius: 10px;
    color: #ffffff;

}